output {
    opensearch {
        hosts => ["https://{{ opensearch_host }}:9200"]
        index => "{{ opensearch_index }}"
        user => "{{ opensearch_user }}"
        password => "{{ opensearch_password }}"
        ssl => true
        ssl_certificate_verification => false
    }
}